// Resume ---------------------------------------------------------------------
main {
    div.company {
        h3 {
            margin-bottom: 0;
        }

        h3 + p.timeframe {
            margin-top: 0;
        }
    }

    div.event {
        h4 {
            margin-bottom: 0;
        }

        h4 + p.timeframe {
            margin-top: 0;
        }
    }
}
