.skill {
    display: flex;
    flex-direction: row;

    .card {
        border-bottom: 2px solid black;
        border-radius: 0;
        box-shadow: none;

        .card-body {
            flex-grow: 1;
        }
    }
}
