// Fonts ----------------------------------------------------------------------
@import url('https://maxst.icons8.com/vue-static/landings/line-awesome/line-awesome/1.3.0/css/line-awesome.min.css');

// 3rd Party Libraries --------------------------------------------------------
@import '../../../node_modules/normalize.css/normalize.css';

// Typography -----------------------------------------------------------------
body {
    font-family: system-ui, sans-serif;
}

main {
    h1, h2, h3, h4, h5, h6 {
        font-weight: 600;
        line-height: 1.2;
    }

    h1 {
        font-size: var(--h1-fontsize);
        line-height: 1.1;
    }

    h2 {
        font-size: var(--h2-fontsize);
    }

    h3 {
        font-size: var(--h3-fontsize);
    }

    h4 {
        font-size: var(--h4-fontsize);
    }

    h5 {
        font-size: var(--h5-fontsize);
    }

    h6 {
        font-size: var(--h6-fontsize);
    }

    p, li {
        font-size: var(--fontsize);
        line-height: 1.65;
    }
}

:root {
    --h1-fontsize: 3.00em;
    --h2-fontsize: 2.50em;
    --h3-fontsize: 2.25em;
    --h4-fontsize: 2.00em;
    --h5-fontsize: 1.80em;
    --h6-fontsize: 1.40em;
    --fontsize:  1.20em;
}

// Images ---------------------------------------------------------------------
figure {
    margin: 0;
    padding: 0;
}

img {
    margin: 0;
    padding: 0;
}

.responsive {
    width: 100%;
    height: auto;
}

// Theme ----------------------------------------------------------------------
@import "header";
@import "home/skill";
@import "resume";


// Main -----------------------------------------------------------------------
main {
    max-width: 60rem;
    margin: 0 auto;
    padding: 0 1rem;
}
