// Override Bulma Variables ---------------------------------------------------
// TODO
$primary: #2a898f;
$link: #2a898f;


// Importing 3rd Party Libraries ----------------------------------------------
@import '../../../node_modules/bulma/bulma.sass';
@import '../../../node_modules/@fortawesome/fontawesome-free/css/all.min.css';
@import url('https://fonts.googleapis.com/css2?family=Rubik:wght@400;500&display=swap');


// Content --------------------------------------------------------------------
.content {
  a {
    font-family: 'Rubik', sans-serif;
    font-weight: 500;
  }

  blockquote {
    background: #f2fbfa;
    border-left: 0.25rem solid #2a898f;
  }

  figure:not(:first-child) {
    margin-top: 1rem;
  }

  figure:not(:last-child) {
    margin-bottom: 1rem;
  }

  hr {
    background: #2a898f;
    margin: 3rem auto;
    opacity: 0.2;
    width: 33%;
  }

  p {
    color: #1e2425;
    font-family: 'Rubik', sans-serif;
    font-size: 18px;
    font-weight: 400;
    line-height: 28px;
    margin: 0 0 1rem;
  }

  p:last-child {
    margin: 0;
  }

  ul, ol {
    margin: 0 0 0 2.5rem;

    li {
      color: #1e2425;
      font-family: 'Rubik', sans-serif;
      font-size: 18px;
      font-weight: 400;
      line-height: 28px;
      margin: 0 0 0.5rem;
    }
  }

  .twitter-embed {
    background: #f2fbfa;
    border-left: 0.25rem solid #2a898f;
    margin-bottom: 1em;
    padding: 1.25em 1.5em;

    blockquote {
      border: none;
      padding: 0;
    }
  }
}
