// 3rd Party Libraries --------------------------------------------------------
@import "../../../node_modules/normalize.css/normalize.css";
@import "../../../node_modules/flexboxgrid/dist/flexboxgrid.min.css";
@import "fontawesome/css/all.min.css";
// @import "typebase/typebase.scss";


// Variables ------------------------------------------------------------------
$primary: #5758bb;

$bg-color: #f8f9f9;

$header-bg-color: #ffffff;
$header-bdr-color: #e1e3e5;

$nav-bg-color: #fdfdfd;
$nav-bdr-color: #f8f9f9;

// Theme ----------------------------------------------------------------------
@import "header";
@import "navbar";
@import "main";


body {
    background: $bg-color;
}
